body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #c28842;
  color: #fff;
  padding: 1em 2em;
}

.title {
  color: #000000;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
}

nav a:hover {
  text-decoration: underline;
  color: #1f52b1;
}

.container {
  width: 80%;
  margin: 2em auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

h1,
h2,
h3 {
  color: #333;
}

p {
  line-height: 1.6;
}

form {
  margin-top: 20px;
}

input,
select,
button {
  padding: 10px;
  margin: 5px 0;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}


.room-list {
  list-style: none;
  padding: 0;
}

.room-list li {
  background: #eef;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.room-img {
  width: auto;
  height: 150px;
  margin-right: 15px;
  border-radius: 3px;
}

.room-details {
  flex-grow: 1;
}

.room-details p {
  margin: 5px 0;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* Search room */

.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}



.room-list li {
  background: #f0f8ff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: transform 0.2s;
}

.room-list li:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-button {
  background-color: #28a745;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.view-details {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 10px;
}