body {
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  background-color: #ffffff;
}


header {
  background-color: #c28842;
  color: #000000;
  padding: 1em;
  text-align: center;
}

.edit{
  display: flex;
  align-items: top;
  flex-direction: row;
  margin-top: 25px;
  justify-content: space-evenly;

}

.delete-btn{
  background-color: #ff0000;
  padding: 10px 20px;
  margin: 4px 2px;
  border-radius: 16px;
}

.delete-btn:hover {
  background-color: #610808;
}


.employee-container {
  width: 90%;
  margin: 2em auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.employee-nav {
  margin-bottom: 20px;
}

.employee-nav a {
  margin-right: 15px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.employee-nav a:hover {
  text-decoration: underline;
  color: #2835a8;
}

section {
  margin-bottom: 30px;
}

section h3 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 15px;
}


table {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: left;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

button {
  padding: 10px;
  margin: 5px 0;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #174605;
}


form {
  max-width: 400px;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

